{% if page.gameWidth %}
{% assign gameWidth = page.gameWidth %}
{% else %}
{% assign gameWidth = 500 %}
{% endif %}

{% if page.gameHeight %}
{% assign gameHeight = page.gameHeight %}
{% else %}
{% assign gameHeight = 500 %}
{% endif %}

{% assign gameFile = page.gameFile %}


<script type="text/javascript" src="https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js"></script>
<script type="text/javascript" src="http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js"></script>
<script type="text/javascript">
	<!-- 
	var config = {
		width: {{ gameWidth }},
		height: {{ gameHeight }},
		params: { enableDebugging: "0" }
	};

	var u = new UnityObject2(config);

	jQuery(function() {
		var $missingScreen = jQuery("#unityPlayer").find(".missing");
		var $brokenScreen = jQuery("#unityPlayer").find(".broken");
		
		$missingScreen.hide();
		$brokenScreen.hide();
		
		u.observeProgress(function(progress) {
			switch (progress.pluginStatus)
			{
				case "broken":
					$brokenScreen.find("a").click(function(e) {
						e.stopPropagation();
						e.preventDefault();
						u.installPlugin();
						return false;
					});
					$brokenScreen.show();
					break;
				case "missing":
					$missingScreen.find("a").click(function(e) {
						e.stopPropagation();
						e.preventDefault();
						u.installPlugin();
						return false;
					});
					missingScreen.show();
					break;
				case "installed":
					$missingScreen.remove();
					break;
				case "first":
					break;
			}
		});
		u.initPlugin(jQuery("#unityPlayer")[0], "{{gameFile}}");
	});


	-->
</script>

<style type="text/css">
<!--
div#unityPlayer { cursor: default; height: {{ gameHeight }}px; width: {{ gameWidth }}px; }
-->
</style>

<div class="content">
	<div id="unityPlayer">
		<div class="missing">
			<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
				<img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63"/>
			</a>
		</div>
		<div class="broken">
			<a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after">
				<img alt="Unity Web Player. Install now! Restart your browser after" src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63"/>
			</a>
		</div>
	</div>
</div>

